*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit
}
h1{
    color: aqua;
}
.boss{
    padding-top: 50px;
    margin-left: 500px;
    /* border: 5px solid aquamarine */
    border-radius: 30%;
    
}

.container{
    width: 30%;
    height: 100px;
    background-color:white;
    display: flex;


}
.box-1{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
}
.box-2{
    width: 200px;
    height: 100px;
    background-color: white;
}

.container2{
    width: 30%;
    height: 300px;
    background-color:white;
   
 
}
.box-3{
    width: 200px;
    height: 100px;
    background-color:white;

}
.master{
    width: 100%;
    height: 100%;
    background-color: aqua;


}
.box4{
    width: 100%;
    height: 150px;
    background-color: white;


}

.box5{
    width: 243px;
    height: 100px;
    background-color:white;
    margin-left: 10%;


}
.container3{
    width: 297px;
    height: 30px;
    background-color:white;
   
  
}
